@charset "utf-8";
/* CSS Document */
body{
	
	background-image: url(11.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	
	
}
.container{width: 50%;
	height: 50%;
	padding: 70px 30px;
	top:40%;
	left: 40%;
	transform: translate(-30%, -30%);
	position: absolute;
	border-radius: 10px;
	box-sizing: border-box;
	box-shadow:5px 5px 5px 8px black;
background: trasperant;
	background-repeat: no-repeat;
	font-family: Cambria, Hoefler Text, Liberation Serif, Times, Times New Roman, serif;
	text-decoration-color: white;
} 



input[type="text"], [type="password"] {
	height: 40px;
	width: 590px;
	box-shadow: 1px 1px 1px 1px black;
	background: transparent;}


input[type="button"]{height: 40px;
	width: 590px;
	background: #58C969;
	
	outline: none;
	color: white;
	font-size: 15px;
	font-weight: bold;}
input[type="text"]:hover{
	background:white;
	color: black;
	}
input[type="password"]:hover{
	background:white;
	color:black;
	}
input[type="button"]:hover{
	background: white;
	color: #58C969;
}